* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background:linear-gradient(145deg, #0052D4, #65C7F7, #9CECFB) */
  color: black;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid white;
  color: white;
  padding: 0px 10px;
  background: rgba(0, 0, 10, 0.3); /* opacity */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 24px;
  margin-right: 10px;
}
.logo-wrap {
  display: flex;
  align-items: center;
}

.text-input-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-top: 1px solid white;
  background: rgba(0, 0, 10, 0.2); /* opacity */
}

.text-input {
  width: 100%;
  border-radius: 15px;
  font-size: 13px;
  padding: 0px 10px;
  position: absolute;
  left: 45px;
  top: 8px;
  height: 32px;
  outline: none;
  /* width: calc(100% - 8px); */
  width: calc(100% - 50px);
}

.text-input:focus {
  border: 1px solid gray;
}

.button:hover {
  background: #1d59a0;
  color: white;
}

.button:focus {
  outline: none;
  border: 2px solid blue;
}

.button:disabled {
  color: white;
  background: #66a8be;
}

.button {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 12px;
  height: 24px;
  border-radius: 15px;
}

.messages {
  height: calc(100vh - 105px);
  width: 100vw;
  position: absolute;
  top: 48px;
  left: 0;

  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.message-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message-wrap[from="me"] {
  justify-content: flex-end;
}

.message {
  position: relative;
  margin-top: 10px;
  padding: 0 10px;
}

.msg-text {
  color: #215994;
  background: white;
  margin: 5px;
  border-radius: 5px;
  padding: 3px 6px;
  display: inline-block;
}

.message-wrap[from="me"] .msg-name {
  right: 15px;
}

.msg-name {
  font-size: 10px;
  position: absolute;
  top: -10px;
  color: #193b5f;
}

.message-wrap[from="you"] .msg-name {
  left: 15px;
}

.edit-username {
  display: flex;
  align-items: center;
}

.name-button {
  height: 29px;
  margin: 0 6px;
  background: transparent;
  color: white;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

.name-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.name-input {
  color: white;
  height: 31px;
  border: 1px solid white;
  border-radius: 14px;
  padding-left: 12px;
  background: #1f1e2e;
  padding-bottom: 2px;
  font-size: 12px;
  outline: none;
}

.username {
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-size: 1.1rem;
}
